body{
    height: 100vh;
    // background-size: cover;
}

#slider{
    .carousel-item{
        max-height: 400px;
    }
}

#question{
    background-image: url(/img/lights.jpg);
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .overlay{
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
    }
}

#info-video{
    background-image: url(/img/media.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    // background: transparent;
    .overlay{
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
    }
}