body{
    height: 100vh;
    // background-size: cover;
}
#main-nav{
    .nav-item {
        padding-left: .5rem;
        padding-right: .5rem;

        // padding-right: .5rem;
        &.active{
            border-left: 3px solid white;
        } 
    }  
}

.overlay{
    // position: absolute;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .7);
}

#question{
    background-image: url(/img/lights.jpg);
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#info-video{
    background-image: url(/img/media.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#footer{
    background-color: #000;
    color: #fff;
}