body{
    height: 100vh;
    // overflow-x: hidden;
    // background-size: cover;
}
#main-nav{
    .nav-item {
        padding-left: .5rem;
        padding-right: .5rem;

        // padding-right: .5rem;
        &.active{
            border-left: 3px solid white;
        } 
    }  
}

.overlay{
    // position: absolute;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .7);
}

#question{
    background-image: url(/img/lights.jpg);
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#info-video{
    background-image: url(/img/media.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#footer{
    background-color: #000;
    color: #fff;
}


// ########################## HEADER ########################
.header{
    background-image: url(/img/image1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

#header-about-us{
    @extend .header;
    background-image: url(/img/image1.jpg);
}

#what-we-do{
    img{
        margin-top: -50px;
    }
}

#frequently{
    h2{
        border-bottom: 1px solid #333;
    }
    .card{
        background-color: #333 !important;
        a{
            text-decoration: none;
        }
    }
}

#staff{
    h3{
        border-bottom: 1px solid #333;
    }
}